<div class="cube">
  <h1>Client works!</h1>

  <div *ngIf='images.length ===0'>
    <p>Lista de Imagenes = {{imagesCount}}</p>
  </div>
  <div *ngIf='images.length>0'>
    <p>Lista de Imagenes = {{imagesCount}}</p>
  </div>

  <mat-divider style="background-color:green"></mat-divider>

  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab color="secondary" aria-label="Example icon button with a menu icon"
            (click)="cambiarVista()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a home icon" [routerLink]="'/myHome'">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- CARD -->
  <div class="flex-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <!------------ FORM -------->
    <mat-card-content style="border: 2px solid white">
      <form [formGroup]="clientForm" (ngSubmit)='onSubmit()'>
      
        <!-- password -->
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" id="password"
            title="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
          </button>
        </mat-form-field>
      
        <!-- Name -->
        <mat-form-field appearance='fill' title="Name">
          <mat-label for="name" class="form-label">Name</mat-label>
          <input matInput type="text" class="example-center-align" id="name" name="name" placeholder="Name"
            [formControl]="name" required max-length=10 [(ngModel)]="nameSelected">
          <mat-icon matSuffix>alarm</mat-icon>
        </mat-form-field>
      
        <!-- Amount -->
        <mat-form-field floatLabel="always" appearance='fill' title="Amount">
          <mat-label for="amount" class="form-label">Amount</mat-label>
          <input matInput type="number" [formControl]="amount" class="example-center-align" min=1 max=20 name='amount'
            id="amount" pattern="[0-9][0-9]" required placeholder="Amount between 1-20" [(ngModel)]=amountSelected>
          <!-- [formControl]="amount" formControlName='amount'-->
          <span matPrefix>$&nbsp;</span>
          <mat-icon matSuffix>
            {{hide ? 'attach_money' : 'thumb_up_alt'}}
          </mat-icon>
        </mat-form-field>
      
        <!-- comment -->
        <mat-form-field appearance="fill" title="Add comment">
          <mat-label for="comment" class="form-label">Add Comment</mat-label>
          <textarea matInput [formControl]="comment" class="example-center-align" required id="comment" name="comment"
            placeholder="Comment" [(ngModel)]="commentSelected">        <!--formControlName="textArea"  [(value)]="priceSelected" -->
                </textarea>
          <mat-icon matSuffix>
            comment
          </mat-icon>
          <mat-error *ngIf="comment.hasError('required')">Please insert an comment</mat-error>
        </mat-form-field>
      
        <!-- SELECT state-->
        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value" title="Select state">
          <mat-label>Select youe favorite State</mat-label>
          <mat-select [formControl]="stateControl" required id="state" name="state" [(value)]="stateSelected">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let sta of states" [value]="sta.name" class="mat-select-panel">
              {{sta.viewName}}-
            </mat-option>
          </mat-select>
          <mat-error *ngIf="stateControl.hasError('required')">Please choose an STATE</mat-error>
          <mat-hint>{{stateControl.value?.sound}}</mat-hint>
        </mat-form-field>
      
          <!-- <div class="display-flex">
            <mat-button>
              <mat-icon>save_alt</mat-icon>
            </mat-button>
            <mat-button>
              <mat-icon>error</mat-icon>
            </mat-button>
          </div> -->
        <div class="flex-container">
          <button class="btn btn-primary" type="submit" 
            [disabled]="!clientForm.valid">
            <mat-icon>save_alt</mat-icon>
            send
          </button>
        </div>
      </form>
    </mat-card-content>

    <pre style="border:2px solid green">
      <h3>microsoft accountpass:fenix_capurro1916</h3>

  <p>You state: {{stateSelected}} - name {{nameSelected}} - 
     comment: {{commentSelected}} - amount $ {{amountSelected}}
  </p>

  <label for="">DATOS del form</label>

  {{clientForm.value | json}};

  </pre>

  </div>
  <!-- ******************************* -->

  <div class="title" *ngIf='[images]'>
    <div class=" logo-image img-responsive">

      <div class="text-white text-center">
        <div *ngIf="!view; then logout else entrar">
          <label for="cube-slider">Select Slider or Color</label>
        </div>
        <ng-template #logout>
          <label for="">select slider</label>
          <mat-slider min="1" max="100" step="1" value="1" id="cube-slider"></mat-slider>
        </ng-template>

        <ng-template #entrar>
          <label for="">select color</label>
          <input type="color">
        </ng-template>
        <div>
          <button class="btn btn-success" (click)="cambiarVista()" (click)="veos()"> boton </button>
        </div>
      </div>
    </div>
  </div>
  <header>
    <label for="imagen"><b>Seleccione imagen</b></label>
    <input type="file" name="imagen" id="imagen" accept=".jpg, .png" (change)="onLoadImg($event)">
    <span class="img-responsive">
      <img [src]='imageLoad' alt={{imgName}} class="fenix">
      <!-- <img [src]= imgen alt="imagen.name" class="img-responsive" style="max-height: 150px;">-->
    </span>
    <p>imgURI: {{imgURI}}</p>

    <div class="figuras b2-grid-container ">
      <div class="unaFig">
        <figure>
          <img src="assets/images/sol.png" alt="sol">
          <figcaption>Descripcion</figcaption>
        </figure>
      </div>

      <div class="dosFig">
        <figure>
          <img src="assets/images/tiki.jpg" alt="logo1">
          <img [src]='imageLoad' alt={{imgName}}>
          <img src={{imageLoad}} alt={{imgName}}>
        </figure>
      </div>
    </div>

    <ul>
      <li><a href="#parrafo1">Parrafo1</a></li>
      <li><a href="#parrafo2">Parrafo2</a></li>
      <li><a href="#parrafo3">Parrafo3</a></li>
      <li><a href="#parrafo7">Parrafo7</a></li>
    </ul>

  </header>

  <main>
    <section>
      <h3>Main</h3>
      <blockquote>
        <p id="parrafo7">
          <b>Parrafo7</b>
          <strong>Lorem</strong> ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam
          reiciendis eveniet temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum
          vitae
          enim quos blanditiis similique provident.
          Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat
          nobis?
          Beatae ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum
          impedit nihil rerum?
        </p>


        <!--  <mat-form-field appearance="fill">
      <input matInput placeholder="Lastname" 
      [type]="hide ? 'password' : 'number'">
    </mat-form-field> 
          <mat-icon  >sentiment_very_satisfied</mat-icon>
          <mat-icon  >attach_money</mat-icon> -->

        <p id="parrafo4">
          <b>Parrafo4</b>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam reiciendis eveniet
          temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum vitae enim quos
          blanditiis similique provident.
          Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat
          nobis?
          Beatae ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum
          impedit nihil rerum?
        </p>
        <p id="parrafo5">
          <b>Parrafo5</b>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam reiciendis eveniet
          temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum vitae enim quos
          blanditiis similique provident.
          Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat
          nobis?
          Beatae ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum
          impedit nihil rerum?
        </p>
      </blockquote>

    </section>
  </main>
  <aside>
    <h3>Aside</h3>
    <p id="parrafo1">
      <b>Parrafo1</b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam reiciendis
      eveniet temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum vitae enim quos
      blanditiis similique provident.
      Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat nobis? Beatae
      ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum impedit nihil
      rerum?
    </p>
    <p id="parrafo2">
      <b>Parrafo2</b>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam reiciendis eveniet
      temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum vitae enim quos blanditiis
      similique provident.
      Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat nobis? Beatae
      ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum impedit nihil
      rerum?
    </p>

    <p id="parrafo3">
      <b>Parrafo3</b>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error numquam reiciendis eveniet
      temporibus velit enim officiis ad, dolorem, nisi dolore odio! Mollitia dolorum vitae enim quos blanditiis
      similique provident.
      Cumque sequi corporis dicta unde fugiat ducimus perspiciatis perferendis aut, placeat repellat nobis? Beatae
      ab nobis iste ex repudiandae nulla. Error possimus dignissimos provident modi harum laborum impedit nihil
      rerum?
    </p>
  </aside>


</div>