.cube{
    margin: 0,auto;
    border: 1px solid grey;
    width:150px;
    height:150px;
    background-color:hsla(39, 100%, 50%, 0.644);
    box-shadow:0,0,15px,-15px rgb(4, 4, 122);;
}

.cube:hover{
    transform:translateY(-20px);
  }