.cube{
    color:white;
    text-align: center;
    font-weight: bold;
    
    margin: 0,auto;
    border: 1px solid grey;
    width:auto;
    height:auto;
    background-color:hsla(106, 93%, 56%, 0.644);
    box-shadow:0,0,15px,-15px rgb(4, 4, 122);;
    transition-delay:2s;
    /* ======Colores para  publico tienda y otros inventos ====
$colorAzul:#369;
$colorVerde: #557E29;
color:var(--myText-color);== */
}

/* .cube:hover{
    transform:translateY(-20px);
    transform:rotate(90deg);
    transition: transform 3s;
  } */

/*   mat-icon{
    color: #557E29;
  } 
  mat-icon-button, button{
    background-color: #557e295d;
    border-radius: 50%;
  }*/

  .example-action-button {
    margin-top: 8px;
    margin-right: 8px;
  }

  /* @Botones Matreial */
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-flex-selectFile{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    height:130px;
   background-color:#48dd7a;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .container-fluid{  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .imResponsive{
    height:120px;
    width:120px;
    //border-radius:40%;
    border:2px solid red;
    clip-path:50% 0%, 0% 100%, 100% 100% ;
  }

  .wrapper{    
    background-color:#9ddd48;
    /* background-image:
    radial-gradient(at 47% 33%,blue),
    radial-gradient(at 82% 65%, orange); */
  }
  .myRenders{
 /*    background-image: url('https://www.freepng.es/png-3128ud/');*/
    background-image: url('https://media4.giphy.com/media/7zGxwnuatyWBnm8lrl/giphy.gif?cid=ecf05e47ykfbc8ely9m94os2jk7773i7nurvj63eoi184yj2&rid=giphy.gif&ct=g');
     background-position: center;
  }

  .claseParaRender{
    font-weight: bold;
    background-color:rgb(49, 188, 252);
    color: black;
  }

  img{
    max-width:auto;
    max-height:100px;
  }

  /* buenosTips */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .buenosTips{
    display: table-cell;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .square{
    background-color: #31a514;
    width:25em;
  }
  .square2{
    background-color: #9955e7;
    width:5em;
    aspect-ratio:1/1;
  }

  /* primera letra */
  .buenosTips p::first-letter{
    color:red;
    font-size:22px;
    text-transform: uppercase;
  }  
  .buenosTips p::before{
    content: '::Antes';
  }
  .buenosTips p::after{
    content: '::Despues';
    text-transform: uppercase;
  }

  .buenosTips p{
    /* color:var(--myText-color); */
    color: white;
    text-shadow: var(--myText-shadow);
    /* text-shadow: 2px 2px 3px #FF0000, 0 0 5px #0000FF; */
  }

  .scrol{
    scroll-behavior: smooth;
  }
  
/* Centrar un div y Usar variable color */

  .divCentrado{
    background-color: var(--myAzulin);
    display: block;
    margin: auto;
    width: 90%;
    height:30px;
  }