.cube{
    color:white;
    text-align: center;
    font-weight: bold;
    
    margin: 0,auto;
    border: 1px solid grey;
    width:150px;
    height:150px;
    background-color:hsla(106, 93%, 56%, 0.644);
    box-shadow:0,0,15px,-15px rgb(4, 4, 122);;
    transition-delay:2s;
}

.cube:hover{
    transform:translateY(-20px);
    transform:rotate(90deg);
    /* transition: transform 3s; */
  }