
/* Probando Mis variables que ya estan en syless de asset

:root{
    --myText-color: #117411;
    --myText-shadow: 2px 2px 3px #FF0000, 0 0 5px #00ff62;
}
Asi los uso en la clase luego de importarlos los traigo al css a usar */
 /*@import "./colors.scss";
 color:var(--myText-color); 
*/

/* ===============Colores para Admin============================= */

/* $admin-primary-color:#2a426e !important; */
$admin-primary-color:gainsboro !important;
$admin-secondary-color:#0d6efd !important;
$admin-tertiary-color:#1d9d74 !important;

/* ====================Colores para  publico tienda======================== */
$colorAzul:#369;
$colorVerde: #557E29;

/* ==================Colores para Comunes========================== */

/* ================BUTONS============================ */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }

  /*=========== Responsive Styles ===========================*/
  
  
  /* 
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
 */