/* You can add global styles to this file, and also import other style files */

/* Mis variables */
:root{
    --myText-color: #117411;
    --myText-shadow: 2px 2px 3px #FF0000, 0 0 5px #00ff62;
    --myAzulin: #369;
}

html, body { height: 100%; }
body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-color:#00ff62;
 }
